.editTorneoWrapper{
    background-color: #F8F8F8;
}

.main_editTorneo_container{
display: flex;
align-items: flex-start;
padding-top: 2rem
}

.EditTorneo_form_container {
    border: 3px #CED4DA solid;
    border-radius: 5px;
    padding: 1.5rem;
    width: 20%; 
}

.EditTorneo_form_container h3{
    text-align: center;
}

.editTorneoDeleteParticipant{
    background-color:red;
    border:none;
    padding: 0.5rem;
    border-radius: 3px
}

.editTorneoDeleteParticipant:hover{
    cursor: pointer;
}

.groups_container{
    text-align: center;
}

#numberOfGroups{
    width: 2rem;
    height: 1.5rem;
    text-align: center;
    margin-left: 0.75rem;
}

.form_create_group_container h3{
    margin-top: 2rem;
}

.form_create_group_container{
    border: 3px #CED4DA solid;
    border-radius: 5px;
}

.form_create_group{
    display: flex;
    flex-direction: column;
    align-items:center;
    padding: 1.5rem;
}
.btn_create_group_container{
    width: 100%;
    margin-top: 1rem;
}
.btn_create_group{
    width: 100%;
    padding: 0.5rem;
    width: 100%;
    background-color: #0D8641;
    border: none;
    border-radius: 5px;
    margin-top: 0.5rem;
    color: white;
    font-size: 15px;
}

.addGroupPlayerContainer{
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    row-gap: 1rem;
    margin-top: 3rem;
}

.addGroupPlayerForm{

}

.btnAddGroupPlayer{
    width: 100%;
    padding: 0.5rem;
    width: 100%;
    background-color: #0D8641;
    border: none;
    border-radius: 5px;
    margin-top: 0.5rem;
    color: white;
    font-size: 15px;
}

.groupsMembers_container{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 3rem;
}

.groupsMembers_container table{
    width: 50%;
}

.btn_create_group:hover, .btnDeleteGroup:hover, .btnAddGroupPlayer:hover{
    cursor: pointer;
}

.btnDeleteGroup{
    width: 100%;
    padding: 0.5rem;
    width: 100%;
    background-color: black;
    border: none;
    border-radius: 5px;
    margin-top: 0.5rem;
    color: white;
    font-size: 15px;
}

.publishGrups_btn:hover{
    cursor: pointer;
}