.manageColoresSubContainer{
    display:flex;
    flex-direction: column;
    align-items:center;
    margin-top: 1rem
}

.manageColoresForm{
    display:flex;
    justify-content:space-evenly;
    
}

.manageColoresFormContainer{
    width: 50%;
    border: 2px solid #0b7037;
    border-radius: 5px;
    padding: 1rem;
}

.nombre_torneo_container{
    margin-top: 1rem;
    display:flex;
    flex-direction: column;
}

.nombre_torneo_container input, textarea{
    font-size: 1rem;
    padding: 0.5rem;
    width: 100%;
}


.new1{
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 90%;
    border-top: 1px solid rgb(173, 182, 173);
}

.btnUpdateColores{
    display:flex;
    justify-content:center;
    margin-top: 2rem;
}

.btnUpdateColores button, .btnCreateColoresMatchContainer button{
    text-decoration: none;
    border: #0b7037 2px solid;
    border-radius: 5px;
    padding: 0.7rem;
    background-color: #0D8641;
    color: white;
    font-size: 1.1rem;
    text-align: center;
    width: 75%;
    cursor: pointer;
}

/* .coloresParticipantsContainer{
    display:grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    column-gap: 1rem;
    row-gap: 1rem;
} */

.coloresParticipantsContainer table{
    font-size: 0.9rem;
}

.createGruposColoresFormContainer{
    border-radius: 5px;
    padding: 1rem;
    background-color: rgb(226, 231, 226);
}

.nombre_bombo_container{
    display:flex;
    flex-direction: column;
}

.nombre_bombo_container input{
    font-size: 1rem;
    padding: 0.5rem;
}

.btnCreateGrupoColores{
    margin-top: 1rem;
    display: flex;
}

.btnCreateGrupoColores button{
    text-decoration: none;
    border: #0b7037 2px solid;
    border-radius: 5px;
    padding: 0.4rem;
    background-color: #0D8641;
    color: white;
    font-size: 1.1rem;
    text-align: center;
    width: 100%;
    cursor: pointer;
    margin-right: 1rem;
}


.publicarColoresEquiposBtn{
    border: #666666 2px solid;
    border-radius: 5px;
    padding: 0.4rem;
    background-color: #666666;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
}

.manageColoresGrupsTeamsContainer{
    width: 100%;
    display:flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.createColoresMatchContainer{
    width: 80%;
}

.Grupos_equipos_players{
    display:grid;
    grid-template-columns:  25% 25% 25% 25% ;
}

.goToParejas_inscritas{
    text-decoration: none;
    color: black;
    font-size:2rem;
    transition: linear 0.1s;
}

.goToParejas_inscritas:hover{
    font-size:2.3rem;
}

.Grupos_equipos_players_container{
    width: 90%;
}

.createColoresMatchContainer{
    display: flex;
    justify-content: center;
}

.createColoresMatchFormContainer{
    width: 70%;
}

.coloresMatchRonda{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.coloresMatchRonda input, select{
    padding: 0.4rem;
    border: 1px solid gray;
    border-radius: 5px;
}

.btnCreateColoresMatchContainer{
    display: flex;
    justify-content: center;
}

.btnCreateColoresMatchContainer button{
    text-decoration: none;
    border: #0b7037 2px solid;
    border-radius: 5px;
    padding: 0.4rem;
    background-color: #0D8641;
    color: white;
    font-size: 1.1rem;
    text-align: center;
    width: 50%;
    cursor: pointer;
    margin: 1rem 0 0 0;
}

.coloresmatchrightleftside{
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.createColoresMatchForm{
    border: #0b7037 solid 1px;
    padding: 2rem;
    border-radius:5px;
    margin-bottom: 3rem;
}

.parejas_dropdown_container{
    min-width: 40%;
    max-width: 40%;
}

#matchDate{
    width: 50%;
}

#matchCancha{
    width: 55%;
}

.coloresMatchFormTitle{
    display:flex;
    margin-bottom:1rem;
    justify-content: space-evenly;
}