.createMatch_main_container{
    display:flex;
    flex-direction: column;
}

.table_matches_container{
    display:grid;
    grid-template-columns: 33% 33% 33%;
    column-gap: 3rem;
    row-gap: 3rem;
    margin-right: 2rem;
    margin-top: 1.5rem;
    margin: 2rem;
}

.add_matches_left_right_side {
    display: flex;
    justify-content:space-around
}

.addMatch_form_container{
    border: 3px #CED4DA solid;
    border-radius: 5px;
    padding: 1.5rem;
    width: 50%; 
}

.addMatch_form_container h3{
    text-align: center;
}

.inputs_container{
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    width: 100%
}

.inputs_container select{
   width: 100%;
}
.inputs_container input{
   padding:0.3rem;
}

.add_matches_left_side, .add_matches_right_side{
    width: 40%;
}
.SubtorneoMatchButtons button{
    width: 100%;
    padding: 0.5rem;
    cursor: pointer;
}

.editSubtorneoMatchBtn{
    padding: 0;
    display: flex;
    align-items: center;
}

.editSubtorneoMatchLink{
    display:block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
}