.coloresParticipantsContainer{
    display:grid;
    grid-template-columns: auto auto auto auto auto auto;
    /* grid-template-columns: 13% 13% 13% 13% 13% 13% 13% ; */
    justify-content: space-between;
    column-gap: 1rem;
    row-gap: 1rem;
    margin: 2rem; 
}

.aux{
    display:flex;
    flex-direction: column;
}

.coloresParticipantesTableContainer{
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .coloresParticipantsContainer{
        grid-template-columns: auto;
        justify-content: center;
    }
}
