.table_container{
    width: 30%;
    /* padding: 2rem 2rem; */
}

.subtorneoDetails_main_container{
    background-color: #F8F8F8;
    display: flex;
    align-items:flex-start;
    justify-content: space-around;
}

.btn_inscripcion{
    margin:0.5rem 0rem;
    padding:0.5rem 1rem;
}

.btn_inscripcion:hover{
    cursor: pointer;
}

.subtorneo_details_table td, th{
    border: black solid 1px;
}

.GetGroupsMembers_conatiner_two{
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: auto;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
}

.see_subtorneo_matches{
    text-decoration: none;
    border: #0b7037 2px solid;
    border-radius: 5px;
    margin: 0.75rem;
    padding: 0.7rem 0rem;
    background-color: #0b7037;
    color: white;
    font-size: 1.1rem;
    text-align: center;
}