.table_container{
    width: 20%;
    padding: 2rem 2rem;
}

.subtorneoDetails_main_container{
    background-color: #F8F8F8;
    height: 100vh;
}

.btn_inscripcion{
    margin-bottom:0.5rem;
    padding:0.5rem 1rem;
}

.btn_inscripcion:hover{
    cursor: pointer;
}

.subtorneo_details_table td, th{
    border: black solid 1px;
}