.TorneoColoresSubContainer{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 95vh;
}

.inscripcionColoresFormContainer{
    width: 40%;
}

.btnColoresNextEnfretamientos{
    display: flex;
    flex-direction: column;
}

.ColoresInscripcionBtn{
    text-decoration: none;
    border: #0b7037 2px solid;
    border-radius: 5px;
    padding: 0.7rem;
    background-color: #0D8641;
    color: white;
    font-size: 1.1rem;
    text-align: center;
    cursor: pointer;
    width: 100%
}

/* .ColoresInscripcionBtnContainer{
    margin-top: 0.5rem;
    display: flex;
} */


.goToColoresEnfrentamientos{
    text-decoration: none;
    border: #0b7037 2px solid;
    border-radius: 5px;
    padding: 0.7rem;
    background-color: #0D8641;
    color: white;
    font-size: 1.1rem;
    text-align: center;
    cursor: pointer;
    margin-top: 1.5rem;
}

.modal_container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal_container button{
    margin-top: 1.5rem;
    text-decoration: none;
    border: #CCCCCC 1px solid;
    border-radius: 5px;
    padding: 0.7rem;
    background-color: #838080;
    color: white;
    font-size: 1.1rem;
    text-align: center;
    cursor: pointer;
    width: 50%;
}

.JornadasTableContainerForUsers{
    margin-top: 4rem;
    width: 60%;
    display: flex;
    justify-content: center;
}