.TorneoColoresSubContainer{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:90%;
}

.inscripcionColoresFormContainer{
    width: 30%;
    margin: 2rem 0rem 0rem 2rem
}
.inscripcionColoresFormContainer p{
    margin-bottom: 0.5rem

}

.btnColoresNextEnfretamientos{
    display: flex;
    flex-direction: column;
}

.goToColoresEnfrentamientos{
    text-decoration: none;
    border: #0b7037 2px solid;
    border-radius: 5px;
    padding: 0.4rem;
    background-color: #0D8641;
    color: white;
    font-size: 1rem;
    text-align: center;
    width: 100%;
    cursor: pointer;
    margin-right: 1rem;
    margin-top: 1rem;
}

.ColoresInscripcionBtn{
    text-decoration: none;
    border: #0b7037 2px solid;
    border-radius: 5px;
    padding: 0.4rem;
    background-color: #0D8641;
    color: white;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    margin-right: 1rem;
}

.ColoresInscripcionBtnContainer{
    margin-top: 0.5rem;
    display: flex;
}


.goToColoresEnfrentamientos{
    text-decoration: none;
    border: #0b7037 2px solid;
    border-radius: 5px;
    padding: 0.7rem;
    background-color: #0D8641;
    color: white;
    font-size: 1.1rem;
    text-align: center;
    width: 75%;
    cursor: pointer;
}