.login_main_container{
    display: flex; 
    justify-content:center;
    align-items: center;
    height: 100vh
}

.login_form_container{
    display: flex; 
    justify-content:center;
    flex-direction: column;
    align-items:center;
    border: 2px #EFEFEF solid;
    width: 50%;
    background-color:#F8F8F8;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
    padding: 1rem 0
}

.atc_logo_container{
    display: flex;
    justify-content:center
}

.userName_container, .password_container{
    width: 100%;
    display: flex; 
    justify-content:center;
    margin-top: 1rem;
    border: 1px #CED4DA solid;
    border-radius: 5px
}

#username, #password{
    width: 100%;
    height: 25px;
    padding: 0.4rem 0.5rem;
    border: none;
}

.usernameIcon, .passwordIcon{
    color: #212529;
    font-size: 20px;
    background-color: #E9ECEF;
    padding: 9px;
}

.forgot_password_link{
    text-decoration: none;
    margin-top: 0.5rem
}

.btn_login{
    background-color: #0D8641;
    padding: 0.6rem 0;
    border: none;
    border-radius: 5px;
    width: 100%;
    margin-top:1rem;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .login_form_container{
        width: 70%;
    }
}